.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #f5f7fa;
  min-height: 100vh;
}

.title {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #121212;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.userDetails p {
  margin: 0;
}

.greeting {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #333;
}

